# Ignore environment files containing secrets
.env

# Ignore cache directories
cache/*

# Ignore local machine-specific config directories
config/jellyfin/*

# Ignore Caddy directories where certificates and state are stored
caddy_data/*
caddy_config/*

# Ignore user-specific IDE/editor files (adjust as needed)
.vscode/
.idea/

# Ignore macOS system files
.DS_Store