# Ignore environment files containing secrets

# Ignore cache directories
cache/*
!cache/.gitkeep

# Ignore local machine-specific config directories
config/jellyfin/*
!config/jellyfin/.gitkeep
config/prowlarr/*
!config/prowlarr/.gitkeep
config/qbittorrent/*
!config/qbittorrent/.gitkeep
config/radarr/*
!config/radarr/.gitkeep
config/sonarr/*
!config/sonarr/.gitkeep
config/readarr/*
!config/readarr/.gitkeep
config/whisparr/*
!config/whisparr/.gitkeep
config/sabnzbd/config/*
!config/sabnzbd/config/.gitkeep

# Ignore Caddy directories where certificates and state are stored
caddy_data/*
caddy_config/*

# Ignore user-specific IDE/editor files (adjust as needed)
.vscode/
.idea/

# Ignore macOS system files
.DS_Store